.file_upload {
    background-color: #b9b9d5;
    height: 40px;
    padding: 3px;
    /* border-radius: 5px; */
    /* width: 400px; */
    /* font-size: 16px; */
    margin-bottom: 20px;
    padding-top: 0px;
    /* padding-bottom: -15px; */
}